{% extends "layout.jinja2" %}

{% block content %}
    <header class="masthead" style="background-image: url('../../static/img/seatown.jpg')">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>UH OH!</h1>
              <span class="subheading"></span>
            </div>
          </div>
        </div>
      </div>
    </header>
<div class="content">
  <h1><span class="font-semi-bold">Phil's</span> <span class="smaller">Learning Journal</span></h1>
  <p class="lead"><span class="font-semi-bold">404</span> Page Not Found</p>
</div>
{% endblock content %}
