{% extends "layout.jinja2" %}

{% block content %}
    <header class="masthead" style="background-image: url('../static/img/seatown.jpg')">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>{{ page_title }}</h1>
              <span class="subheading"></span>
            </div>
          </div>
        </div>
      </div>
    </header>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
              <h2 class="post-title">{{ entry.title }}</h2>
              <h3 class="post-meta">{{ entry.creation_date }}</h3>
              <p class="post-subtitle">{{ entry.body }}</p>
              <button type="submit"><a href="{{ request.route_url('update', id=entry.id) }}">Edit</a></button>
              <button type="submit" class="delete"><a href="{{ request.route_url('delete', id=entry.id) }}">Delete</a></button>
            </div>
          </div>
        </div>
      </div>
    </header>

{% endblock %}