{% extends "layout.jinja2" %}

{% block content %}
  {% for entry in entries %}
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-preview">
            <a href="post.html">
              <h2 class="post-title"><a href="{{ request.route_url('detail', id=entry.id) }}">{{ entry.title }}</a></h2>
              <h3 class="post-meta">{{ entry.creation_date }}</h3>
              <hr>
              <p class="post-subtitle">{{ entry.body }}</p>
            </a>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
{% endblock %}