{% extends "layout.jinja2" %}

{% block content %}
   <header class="masthead" style="background-image: url('../../static/img/seatown.jpg')">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>{{ page_title }}</h1>
              <span class="subheading"></span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <main class="clearfix">
            <section id="write" class="tab-content">
                <form method="POST">
                    <table>
                        <tr>
                            <td><input type="text" name="username" placeholder="Enter your username"/></td>
                        </tr>
                        <tr>
                            <td><input type="password" name="password" placeholder="Enter your password"/></td>
                        </tr>
                        <tr>
                            <td><input type="submit" value="Log In" /></td>
                        </tr>
                    </table>
                </form>
            </section>
            <section id="articles" class="tab-content">
            </section>
          </main>
        </div>
      </div>
    </div>


{% endblock %}